container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  03_createsuperuser:
    command: "echo \"from django.contrib.auth import get_user_model; UserModel = get_user_model(); if not UserModel._default_manager.filter(username='admin').exists(): User.objects.create_superuser('admin', 'admin_user@domain.com', 'shylee1995')\" | python manage.py shell"
    leader_only: true  
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mentorapp.settings
    