container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  03_createsuperuser:
    command: "(echo \"import os\"; echo \"from django.contrib.auth import get_user_model\"; echo \"UserModel = get_user_model()\"; echo \"if not UserModel._default_manager.filter(username='admin').exists(): UserModel._default_manager.create_superuser(**dict(username='admin',email='admin@example.com',password='shylee1995';\") | django-admin.py shell"
    leader_only: true  
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mentorapp.settings
    