.page-header {
    background-color: white;
    margin-top: 0;
}

body{
    background-color: rgb(27, 27, 158);
}

p {
    color: white;
    padding: 2px;
}

.p2 {
    color: black;
    padding: 2px;
}

button{
    color:black;
}

label{
    display: block;
}


.boxed{
    background-color: white;
    width: 600px;
    height: 380px;


    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

}

h2 {
    color:white;
}