.page-header {
    background-color: white;
    margin-top: 0;
}

body{
    background-color: rgb(27, 27, 158);
}

p {
    color: black;
    padding: 10px;
}

.p2 {
    color: black;
    padding: 1px;
}


button{
    color:black;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.loginbox{
    background-color: white;
    width: 300px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.signupbox{
    background-color: white;
    width: 600px;
    height: 500px;


    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

}

h2 {
    color:white;
}