{% load static %}
<!DOCTYPE html>
<html lang=en>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/8c52d763a6.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="icon" href="{% static 'img/favicon.ico'%}" />
	<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">   <!--cropper lib -->
	{% block extracss %}{% endblock %}
</head>

<body>
{% include 'genericTemplate/header.html' %}

<!-- Body -->
<div class="wrapper">
<div class="main">
	{% block content %}

	{% endblock content %}
	</div>
	<!-- End Body -->

	{% include 'genericTemplate/footer.html' %}
	<script type="text/javascript" src="{% static 'survey/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'survey/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'survey/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'survey/js/custom.js' %}"></script>
	<script src="{% static 'js/cropper.min.js' %}"></script>    <!--js cropper lib-->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

	{% block extrajs %}{% endblock %}
</body>


</html>
