{% extends 'base.html' %}
{% load static%}
{% block extrajs %}
  <script>



    function popitup() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
    }

    function editProfileAlert() {
      alert('Please save changes to your profile!')
    }



    // Get the button that opens the modal
    var modal = document.getElementById("myModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    window.reload = function (event) {
      if (event.target == modal) {
        modal.style.display = "block";
      }
    }




    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_profile_pic").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      // $(".js-crop-and-upload").click(function () {
      //   var cropData = $image.cropper("getData");
      //   $("#id_x").val(cropData["x"]);
      //   $("#id_y").val(cropData["y"]);
      //   $("#id_height").val(cropData["height"]);
      //   $("#id_width").val(cropData["width"]);
      //   $("#formUpload").submit();
      // });

    });
  </script>
{% endblock %}

{% block content %}
<link href="{% static 'survey/css/bootstrap.min.css' %}" rel="stylesheet">   <!--cropper lib -->
<div class="viewbox">

  <div class="column">

    <div class="column-header">
      <h4>{{user.profile.first_name}}'s Profile</h4>
    </div>
    <div class="tabs">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true"><i class="far fa-user"></i> Personal Info </a>
        <a class="nav-link" id="v-pills-profile-tab" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
          aria-selected="false" onclick="editProfileAlert()"><i style="margin-left:-35px" class="fas fa-cog"></i>
          Settings</a>
        <a class="nav-link" id="v-pills-settings-tab" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false" onclick="editProfileAlert()"><i
            style="margin-left:-35px" class="fas fa-info"></i> Matches</a>
      </div>
    </div>
  </div>


  <form class="profileinfo" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class='profileHeader'>
      <div id="profileimg">
        <img src='{{request.user.profile.profile_pic.url}}'>
        <button type="button" class="icon-buton" onclick="popitup()"><i class="fas fa-pen"></i></button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for field in profile_form%}
        {% if field.name != 'profile_pic' %}
        <div class="col-sm-6 edit">
          {{ field.label }}

          {{ field }}
        </div>
        {% endif %}

        {% endfor %}
      </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="profileimg">
          <img src="{{ profile_form.instance.profile_pic.url }}" />
          <p>{{ profile_form.profile_pic}}</p>
        </div>
      </div>

    </div>

    <button type="submit" class="savebutton">Save Changes</button>
  </form>
	

      <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>


</div>




{% endblock %}

