{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-8">
		<div class="welcome">
			<h2>Welcome, {{ user.profile.first_name }}!</h2> <br>
				<h5>Congratulations on getting selected for this Mentor Program. We hope you learn and develop
					professional skills for your career and grow with your match!</h5> <br><br>
				<h5>Please be sure to complete your profile on the profile page and any surveys shown on the
					 right so we can match you to the right people!</h5>
		</div>

		<div class="notification-center">
			<h4>Notification Center
				{% for survey in active %}
				<span class="badge">{{survey}}</span> 
				{% if survey == 0 %}
				<br> <br>
				<h5 class="surveys-complete">You have completed all surveys!</h5>
				{% endif %}
				{% endfor %}  
			</h4>
			{% for survey in surveys %}
			<a href="/survey/{{survey.id}}">
				<div class="notification">
					<p class="survey-text">{{survey.name}} <br> Click here to take the survey</p>
				</div>
			</a>
			{% endfor %}
		</div>
		
	</div>

	<div class="col-4">
		<br>
		<h3 style = "text-align: center;">Congratulations! You've got a match!</h3> <br>
		<div class='profileHeader'>
			<div id="profileimg"><img src="/images/profileimage.png" width="240"></div>
			<br><small>John Doe<br>
			john.doe@gmail.com<br>
			Technology<br>
			Google<br>
			Software Engineer</small>
		</div>
	</div>

	
</div>
{% endblock %}