{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-8">
		<div class="container">
			<h2>Welcome, {{ user.profile.first_name }}!</h2>
		</div>
	</div>
	<div class="notification-center col-4">
		<h2>Notification Center
			{% for survey in active %}
			<span class="badge">{{survey}}</span>  
			{% endfor %}  
		</h2>
		{% for survey in surveys %}
		<a href="/survey/{{survey.id}}">
			<div class="notification">
				<h1>{{survey.name}}</h1>
				Click here to take the survey
			</div>
		</a>
		{% endfor %}
	</div>
</div>


{% endblock %}