{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<form class="profile_display" method="post">{% csrf_token %}
{% csrf_token %}
<h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Email: {{ user.email }}</li>
  <!-- <li>Location: {{ user.profile.location }}</li> -->
  <li>First Name: {{ user.profile.first_name }}</li>
  <li>Last Name: {{ user.profile.last_name }}</li>
  <li><img src='{{request.user.profile.profile_pic.url}}'></li>
  <li>Location: {{ user.profile.location_q }}</li>
  <li>Phone: {{ user.profile.phone }}</li>
  <li>Title: {{ user.profile.title }}</li>
  <li>Company: {{ user.profile.company }}</li>
  <li>Preferred Pronouns: {{ user.profile.gender }}</li>
  <li>Industry: {{ user.profile.industry}}</li>
  <li>LinkedIn:<a href={{ user.profile.linkedin }} target="_blank">{{ user.profile.linkedin }}</a></li>
  <li>Fun Fact: {{ user.profile.funfact }}</li>
</ul>
<div style="text-align:center;">
<button type = "button" onclick="parent.location= '/edit_profile/'" id="enter" class="btn btn-lg btn-primary btn-block" >Edit Profile</button>
</div>
</form>


{% endblock content %}
