{% extends 'yearUpApp/baseheader.html' %}

{% block content %}
  <style>
    h2{
      text-align:center 
    }
  </style>  

  <h2>Sign up</h2>

  <div class="signupbox">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p2>
          {{ field.label_tag }}
          {{ field }}<br>
          {% if field.help_text %}
            
            <label style="color: black">{{ field.help_text }}</label>
          {% endif %}
          {% for error in field.errors %}

            <br><small style="color: red">{{ error }}</small>
          {% endfor %}
        </p2>
      {% endfor %}
      <div style="text-align:center;">
        <br><button type="submit">Sign up</button>
      </div>
    </form>
  </div>
{% endblock %}

